@font-face {
  font-family: animeb;
  src: url(../fonts/animeace_b.ttf);
  font-weight: normal;
}
@font-face {
  font-family: acme;
  src: url(../fonts/ACMESecretAgentBB_Reg.ttf);
  font-weight: normal;
}
@font-face {
  font-family: toon;
  src: url(../fonts/SFCartoonistHand.ttf);
  font-weight: normal;
}
@font-face {
  font-family: roof;
  src: url(../fonts/PG_RoofRunners.ttf);
  font-weight: normal;
}
@font-face {
  font-family: roofb;
  src: url(../fonts/PG_RoofRunners_bold.ttf);
  font-weight: normal;
}
@font-face {
  font-family: adventure;
  src: url(../fonts/Adventure.otf);
  font-weight: normal;
}
body {
  background: -webkit-linear-gradient(45deg, #1e5799 0%, #2992ad 40%, #75acbe 74%, #ffa3a4 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #1e5799 0%, #2992ad 40%, #75acbe 74%, #ffa3a4 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
nav {
  padding-top: 4rem;
  position: absolute;
  right: 0;
}
@media screen and (min-width: 720px) {
  nav {
    pading-right: 5rem;
  }
}
nav .header-ul {
  align-items: flex-end;
  display: flex;
  height: auto;
  list-style-type: none;
}
nav .header-ul li {
  margin: 1rem;
}
nav .header-ul li a {
  color: #fff;
  font-size: 1.7rem;
  font-family: 'roof';
  text-decoration: none;
  transition: all 300ms;
}
@media screen and (min-width: 720px) {
  nav .header-ul li a {
    color: #e6d1d4;
    font-size: 2.7rem;
    padding: 4rem;
  }
}
nav .header-ul li a:hover {
  color: #fab43b;
}
.js-hero-animate {
  opacity: 1 !important;
}
.introduction {
  height: 70%;
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  .introduction {
    height: 900px;
  }
}
.introduction img.peace-img {
  margin-top: -25%;
  width: 100%;
}
@media screen and (min-width: 720px) {
  .introduction img.peace-img {
    margin-top: -43%;
  }
}
@media screen and (min-width: 1200px) {
  .introduction img.peace-img {
    margin-top: -11%;
    width: 70%;
    margin-left: -10%;
  }
}
.introduction .hero-text {
  position: absolute;
  top: 45%;
  right: 49%;
  transition: all 300ms ease-in;
}
@media screen and (min-width: 1200px) {
  .introduction .hero-text {
    right: 2%;
    top: 42%;
  }
}
.introduction .hero-text h1 {
  font-family: animeb;
  line-height: 0.5;
  font-size: 16px;
  text-shadow: 2px 2px 5px #c96917;
}
@media screen and (min-width: 720px) {
  .introduction .hero-text h1 {
    line-height: 1.5;
    font-size: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .introduction .hero-text h1 {
    font-size: 56px;
  }
}
.about-me {
  position: relative;
  z-index: 1;
}
.about-me:before {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.about-me:before {
  top: 0;
  transform: skewY(1.5deg);
  transform-origin: 100% 0;
  border-top: 10px solid #fff;
}
.about-me {
  max-width: 1150px;
  display: flex;
  height: 100%;
  margin: 0 auto;
  flex-direction: column;
  padding-bottom: 1.5rem;
  margin-bottom: 28rem;
}
.about-me .header-container {
  display: flex;
  flex-direction: column;
}
.about-me .header-container .block-A-container {
  display: flex;
  height: 365px;
  width: 100%;
  transform: skewY(1.5deg);
  border: 10px solid #fff;
  border-top: none;
  margin-top: 3px;
}
@media screen and (min-width: 720px) {
  .about-me .header-container .block-A-container {
    margin-top: -5px;
    height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .about-me .header-container .block-A-container {
    margin-top: -10px;
  }
}
.about-me .header-container .block-A-container .block-two {
  width: 100%;
  height: 100%;
  background-color: #bad0b8;
  background-image: -webkit-linear-gradient(right, #fc7864, #fda366);
  background-image: -moz-linear-gradient(right, #fc7864, #fda366);
  background-image: -o-linear-gradient(right, #fc7864, #fda366);
  background-image: -ms-linear-gradient(right, #fc7864, #fda366);
  background-image: linear-gradient(right, #fc7864, #fda366);
}
.about-me .header-container .block-A-container .header-words {
  margin-top: 10rem;
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  left: 6%;
  flex-direction: column;
  opacity: 0;
  transition: all 200ms ease-in;
}
@media screen and (min-width: 720px) {
  .about-me .header-container .block-A-container .header-words {
    padding-right: 3rem;
    left: 17%;
  }
}
.about-me .header-container .block-A-container .header-words h2 {
  font-family: 'roof';
  color: white;
  font-size: 2rem;
  text-shadow: 2px 2px 5px #636453;
}
.about-me .header-container .block-A-container .header-words h1 {
  margin: auto 0;
  font-family: 'adventure';
  color: #f2cab9;
  text-shadow: 2px 2px 5px #050f0a;
  font-size: 70px;
}
@media screen and (min-width: 720px) {
  .about-me .header-container .block-A-container .header-words h1 {
    font-size: 120px;
  }
}
.about-me .about-text-section {
  background: transparent;
  border: none;
  position: relative;
  height: 320px;
  z-index: 1;
  transition: all 300ms ease-in;
}
.about-me .about-text-section:before {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -2;
  -webkit-backface-visibility: hidden;
}
.about-me .about-text-section:before {
  top: 0;
  transform: skewY(1.5deg);
  transform-origin: 100% 0;
  border-top: 10px solid #fff;
}
@media screen and (min-width: 720px) {
  .about-me .about-text-section {
    background: #d5af4b;
    border-right: 10px solid #fff;
    border-bottom: 10px solid #fff;
  }
}
.about-me .about-text-section .block-b-container {
  display: none;
  height: 320px;
  width: 100%;
  transform: skewY(1.5deg);
  border: 10px solid #fff;
  border-right: none;
  border-bottom: none;
  margin-top: 3px;
}
@media screen and (min-width: 720px) {
  .about-me .about-text-section .block-b-container {
    margin-top: -14px;
    height: 339px;
    display: flex;
  }
}
.about-me .about-text-section .block-b-container .block-three {
  display: none;
  background: #d5af4b;
  width: 35%;
  height: 319px;
  border-right: 10px solid #fff;
}
@media screen and (min-width: 720px) {
  .about-me .about-text-section .block-b-container .block-three {
    display: block;
  }
}
.about-me .about-text-section .block-b-container .block-four {
  width: 100%;
  height: 98%;
  margin-top: -12px;
  transform: skewY(-1.5deg);
  background: url(../img/dot) repeat;
  background-color: #75acbe;
  -webkit-clip-path: polygon(0 0, 100% 4%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 6%, 100% 100%, 0% 100%);
}
@media screen and (min-width: 720px) {
  .about-me .about-text-section .block-b-container .block-four {
    width: 65%;
  }
}
.about-me .about-text-section .about-bubble-text {
  position: relative;
  text-align: center;
  left: 6%;
  top: 27%;
}
@media screen and (min-width: 720px) {
  .about-me .about-text-section .about-bubble-text {
    top: -89%;
    left: 2%;
  }
}
.about-me .about-text-section .about-bubble-text .big-i {
  left: 29px;
  font-size: 55px;
  position: absolute;
  top: -29px;
}
@media screen and (min-width: 720px) {
  .about-me .about-text-section .about-bubble-text .big-i {
    left: 35px;
  }
}
@media screen and (min-width: 1200px) {
  .about-me .about-text-section .about-bubble-text .big-i {
    left: 6px;
  }
}
.about-me .about-text-section .about-bubble-text p {
  width: 344px;
  position: absolute;
  margin-right: 1rem;
  margin-left: 1rem;
  color: black;
  padding: 0.9rem;
  background-color: #fecb2f;
  font-size: 14px;
  letter-spacing: 0.2rem;
  font-family: 'adventure';
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (min-width: 720px) {
  .about-me .about-text-section .about-bubble-text p {
    width: 447px;
    font-size: 20px;
    margin-left: 4rem;
  }
}
@media screen and (min-width: 1200px) {
  .about-me .about-text-section .about-bubble-text p {
    width: 45%;
  }
}
.about-me .three-pic-section {
  display: none;
  margin-top: 2rem;
  max-width: 100%;
}
@media screen and (min-width: 720px) {
  .about-me .three-pic-section {
    display: flex;
    justify-content: space-between;
  }
}
.about-me .three-pic-section .left-pic {
  height: 550px;
  color: #dbc6c9;
  flex-shrink: 0;
  font-size: 2rem;
  margin-right: 1rem;
  text-shadow: 2px 2px 5px #636453;
  padding: 3rem;
  font-family: 'roof';
  line-height: 1.9;
  flex-basis: 320px;
  border: 10px solid #fff;
}
@media screen and (min-width: 720px) {
  .about-me .three-pic-section .left-pic {
    height: 450px;
    overflow: hidden;
  }
}
@media screen and (min-width: 1200px) {
  .about-me .three-pic-section .left-pic {
    height: 550px;
  }
}
.about-me .three-pic-section .dog-section {
  justify-content: center;
  flex-grow: 1;
  height: 550px;
  margin-right: 1rem;
}
@media screen and (min-width: 720px) {
  .about-me .three-pic-section .dog-section {
    height: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .about-me .three-pic-section .dog-section {
    height: 550px;
  }
}
.about-me .three-pic-section .dog-section img.dog--img {
  width: auto;
  height: 100%;
}
.about-me .three-pic-section .dog-section .roxy-show {
  opacity: 1 !important;
}
.about-me .three-pic-section .dog-section .roxy-quote {
  position: relative;
  right: -33rem;
  top: -37rem;
  opacity: 0;
  transition: all 200ms ease-in;
}
@media screen and (min-width: 1200px) {
  .about-me .three-pic-section .dog-section .roxy-quote {
    opacity: 1;
    right: -38rem;
    top: -44rem;
  }
}
.about-me .three-pic-section .dog-section .roxy-quote p {
  font-family: "acme";
  margin-top: 43px;
  margin-left: 3.7rem;
  position: absolute;
  z-index: 5;
  width: 8rem;
}
.about-me .three-pic-section .dog-section .roxy-quote .quote-img {
  position: absolute;
  height: 150px;
  width: 150px;
  background-image: url('../img/roo-roo-q.png');
  background-size: cover;
  z-index: 1;
  background-repeat: no-repeat;
}
.about-me .three-pic-section .right-pic {
  flex-basis: 320px;
  flex-shrink: 0;
  height: 550px;
  border: 10px solid #fff;
}
@media screen and (min-width: 720px) {
  .about-me .three-pic-section .right-pic {
    height: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .about-me .three-pic-section .right-pic {
    height: 550px;
  }
}
.about-me .three-pic-section .right-pic img {
  filter: grayscale(80%);
}
.about-me .three-pic-section .right-pic img:hover {
  filter: grayscale(0);
}
.about-me .three-pic-section .right-pic img.drawing--img {
  width: auto;
  height: 100%;
}
.about-me .pic-section-mobile {
  display: flex;
  justify-content: space-around;
}
@media screen and (min-width: 720px) {
  .about-me .pic-section-mobile {
    display: none;
  }
}
.about-me .pic-section-mobile .dog-mobile {
  width: 55%;
}
.about-me .pic-section-mobile .right-dot-mobile {
  width: 40%;
  text-align: right;
  color: #dbc6c9;
  font-size: 1.5rem;
  text-shadow: 2px 2px 5px #636453;
  padding: 2rem;
  border: 5px solid #fff;
  font-family: 'roof';
}
.work-pieces {
  display: flex;
  justify-content: center;
}
.work-pieces img {
  height: 300px;
  width: auto;
  display: flex;
  flex-direction: row;
}
.filter {
  font-family: animeb;
}
.contact-section {
  font-family: animeb;
  max-width: 100%;
  display: flex;
  height: 100%;
  position: relative;
  margin: 0 auto;
  flex-direction: column;
}
.contact-section .contact-header-container {
  width: 70%;
  padding: 0.8rem;
  left: 30%;
  margin-bottom: 2rem;
  margin-top: 10rem;
  position: relative;
  padding-top: 1.6rem;
  text-align: center;
  font-size: 1.2rem;
  background-color: red;
  background-image: linear-gradient(to top right, #fecb2f, #f06d06);
  font-family: 'animeb';
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (min-width: 1200px) {
  .contact-section .contact-header-container {
    font-size: 1.7rem;
    margin-bottom: 10rem;
    letter-spacing: 0.1rem;
  }
}
.contact-section .info-container {
  display: flex;
}
.contact-section .info-container .contact-information {
  padding-top: 6rem;
  line-height: 1.2;
  margin-top: 3rem;
  font-family: 'roof';
  font-size: 3rem;
  color: #e7d1d4;
  margin-left: 13%;
  transition: all 300ms ease-in;
  text-align: center;
  text-shadow: 2px 2px 5px #1a3255;
  background-size: cover;
  width: 55%;
  background-repeat: no-repeat;
}
@media screen and (min-width: 720px) {
  .contact-section .info-container .contact-information {
    margin-left: 20%;
    font-size: 4rem;
  }
}
@media screen and (min-width: 1200px) {
  .contact-section .info-container .contact-information {
    margin-left: 41%;
    font-size: 5rem;
  }
}
.contact-section .boom {
  margin: 0 auto;
  height: 235px;
  z-index: 1;
  margin-top: -1rem;
  width: 310px;
  background-image: url("../img/boom.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 15rem;
  transform: skewY(1.5deg);
}
@media screen and (min-width: 720px) {
  .contact-section .boom {
    margin-left: 47rem;
    margin-bottom: -25rem;
    margin-top: 12rem;
  }
}
@media screen and (min-width: 1200px) {
  .contact-section .boom {
    margin-left: 41rem;
    margin-top: -16rem;
  }
}
.contact-section .boom:hover {
  transform: rotateZ(20deg);
}
.contact-section .boom .social-list {
  display: flex;
  height: auto;
  list-style-type: none;
}
.contact-section .boom .social-list li {
  width: 60px;
  padding-top: 7rem;
}
.contact-section .boom .social-list li a svg {
  fill: #fce57e;
}
.contact-section .boom .social-list li a svg.facebook:hover {
  fill: #ff68f2;
}
.contact-section .boom .social-list li a svg.instagram:hover {
  fill: #44ff51;
}
.contact-section .boom .social-list li a svg.linkedin:hover {
  fill: #4472ff;
}
.contact-section .insta-container {
  margin-left: 5rem;
}
.contact-section .insta-container .insta-header h5 {
  width: 30%;
  margin-top: -12rem;
  position: relative;
  font-family: roof;
  text-align: left;
  font-size: 22px;
  color: #fff;
}
.contact-section .insta-container .insta-feed {
  max-width: 400px;
  height: 500px;
  position: relative;
}
